* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#sell {
    background-color: rgb(255, 255, 255);
}

.main {
    display: flex;
    justify-content: center;
    /* border: 5px solid black; */
    background-color: whitesmoke;
}


.text1, 
.text2 {
    text-align: center;
    margin-bottom: 10px;
}

.text1 {
    font-family: "Poppins";
}

.prdt {
    color: orange;
}

.text2 {
    font-family: "Poppins";
    padding-bottom: 70px;
}

h2 {
    font-family: "Poppins";
}

.review {
    font-family: "Poppins";
    color: orange;
    font-size: small;
    padding-bottom: 10px;
}

.price {
    font-family: "Poppins";
    font-weight: 500;
}

.line {
    text-decoration: line-through;
}

.longtext {
    font-family: "Poppins";
    padding: 10px 0px;
}

.boxes {
    display: flex;
    padding-bottom: 10px;
}

.num {
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.btn {
    width: 130px;
    height: 30px;
    background: none;
    color: orange;
    background-color: black;
    border: none;
}



.span {
    font-family:"Poppins";
    color: green;
    padding-bottom: 10px;
}

.available {
    font-family:"Poppins";
    font-weight: 500;
    padding-bottom: 10px;
}

.share {
    font-family:"Poppins";
    font-weight: 500;
}

.shareicon {
    display: flex;
    gap: 15px;
}

.fa-brands.fa-facebook-f {
    border: 2px solid black;
    padding: 3px;
    border: none;
    background: white;
}

.fa-brands.fa-twitter {
    border: 2px solid black;
    padding: 3px;
    border: none;
    background: white;
}

.fa-brands.fa-pinterest{
    border: 2px solid black;
    padding: 3px;
    border: none;
    background: white;
}

.fa-brands.fa-google-plus-g {
    border: 2px solid black;
    padding: 3px;
    border: none;
    background: white;
}

.leftside .image {
    width: 600px;
    height: 400px;
    padding-bottom: 15px;
}


.image .mainimg {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
}

.leftbottom .image2 {
    width: 150px;
    height: 150px;
}

.image2 .basicimg {
    width: 100%;
    height: 100%;
    padding: 3px 3px;
    
}

.leftbottom {
    display: flex;
    justify-content: start;
}

.rightside {
    padding-left: 20px;
}

.primitive {
    padding-bottom: 10px;
}


